{% extends 'base.html' %}
{% block title %}<title>Scellnetor</title>{% endblock %}
{% load static %}
{% load staticfiles %}
{% csrf_token %}
{% block content %}


<style>
html {
	-webkit-font-smoothing: antialiased!important;
	-moz-osx-font-smoothing: grayscale!important;
	-ms-font-smoothing: antialiased!important;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size:16px;
  color:#555555;
}
.md-stepper-horizontal {
	display:table;
	width:100%;
	margin:0 auto;
	background-color:#FFFFFF;
	box-shadow: 0 3px 8px -6px rgba(0,0,0,.50);
}
.md-stepper-horizontal .md-step {
	display:table-cell;
	position:relative;
	padding:24px;
}
.md-stepper-horizontal .md-step:hover,
.md-stepper-horizontal .md-step:active {
	background-color:rgba(0,0,0,0.04);
}
.md-stepper-horizontal .md-step:active {
	border-radius: 15% / 75%;
}
.md-stepper-horizontal .md-step:first-child:active {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.md-stepper-horizontal .md-step:last-child:active {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.md-stepper-horizontal .md-step:hover .md-step-circle {
	background-color:#757575;
}
.md-stepper-horizontal .md-step:first-child .md-step-bar-left,
.md-stepper-horizontal .md-step:last-child .md-step-bar-right {
	display:none;
}
.md-stepper-horizontal .md-step .md-step-circle {
	width:30px;
	height:30px;
	margin:0 auto;
	background-color:#999999;
	border-radius: 50%;
	text-align: center;
	line-height:30px;
	font-size: 16px;
	font-weight: 600;
	color:#FFFFFF;
}
.md-stepper-horizontal.green .md-step.active .md-step-circle {
	background-color:#00AE4D;
}
.md-stepper-horizontal.orange .md-step.active .md-step-circle {
	background-color:#F96302;
}
.md-stepper-horizontal .md-step.active .md-step-circle {
	background-color: rgb(33,150,243);
}
.md-stepper-horizontal .md-step.done .md-step-circle:before {
	font-family:'FontAwesome';
	font-weight:100;
	content: "\f00c";
}
.md-stepper-horizontal .md-step.done .md-step-circle *,
.md-stepper-horizontal .md-step.editable .md-step-circle * {
	display:none;
}
.md-stepper-horizontal .md-step.editable .md-step-circle {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}
.md-stepper-horizontal .md-step.editable .md-step-circle:before {
	font-family:'FontAwesome';
	font-weight:100;
	content: "\f040";
}
.md-stepper-horizontal .md-step .md-step-title {
	margin-top:16px;
	font-size:16px;
	font-weight:600;
}
.md-stepper-horizontal .md-step .md-step-title,
.md-stepper-horizontal .md-step .md-step-optional {
	text-align: center;
	color:rgba(0,0,0,.26);
}
.md-stepper-horizontal .md-step.active .md-step-title {
	font-weight: 600;
	color:rgba(0,0,0,.87);
}
.md-stepper-horizontal .md-step.active.done .md-step-title,
.md-stepper-horizontal .md-step.active.editable .md-step-title {
	font-weight:600;
}
.md-stepper-horizontal .md-step .md-step-optional {
	font-size:12px;
}
.md-stepper-horizontal .md-step.active .md-step-optional {
	color:rgba(0,0,0,.54);
}
.md-stepper-horizontal .md-step .md-step-bar-left,
.md-stepper-horizontal .md-step .md-step-bar-right {
	position:absolute;
	top:36px;
	height:1px;
	border-top:1px solid #DDDDDD;
}
.md-stepper-horizontal .md-step .md-step-bar-right {
	right:0;
	left:50%;
	margin-left:20px;
}
.md-stepper-horizontal .md-step .md-step-bar-left {
	left:0;
	right:50%;
	margin-right:20px;



</style>




  <div class="md-stepper-horizontal orange">
      <div class="md-step active">
        <div class="md-step-circle"><span>1</span></div>
        <div class="md-step-title">Upload Data</div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
      </div>
      <div class="md-step active">
        <div class="md-step-circle"><span>2</span></div>
        <div class="md-step-title">Select Plot</div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
      </div>
      <div class="md-step">
        <div class="md-step-circle"><span>3</span></div>
        <div class="md-step-title">Select Trajectories</div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
      </div>
      <div class="md-step">
        <div class="md-step-circle"><span>4</span></div>
        <div class="md-step-title">Select Parameter</div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
      </div>
  	<div class="md-step">
        <div class="md-step-circle"><span>5</span></div>
        <div class="md-step-title">Results</div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
      </div>
    </div>



<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<link href="/docs/4.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script>
//  var data = sessionStorage.getItem('name');
//  console.log(data) 
//  var dta = {'x':data};

//function create_post(dta) {
//    $.ajax({
//        url : "", // the endpoint
//        type : "POST", // http method
//        dataType: "json",
//        data : {csrfmiddlewaretoken: '{{ csrf_token }}',
//                create_token: 'create_token',
//                stuff : dta,},
//    });
//};

//create_post(dta);

//timedRefresh(200);
//<img src="{% static "G9GU6Awe/draw_graph_fa_fuckoff.png" %}" alt="My image"/>






function input2(X) {
    $.ajax({
        url : "", // the endpoint
        type : "POST", // http method
        dataType: "html",//"json",
        data : {csrfmiddlewaretoken: '{{ csrf_token }}',
                create_token: 'create_token',
                input2 : {"x":X},},
	    success: function(data, XMLHttpRequest, status) {
            //timedRefresh(0);
		    redirect2();}
    });
    //document.getElementById("text").innerHTML = "Group2";
};


function Function2() {
  document.getElementById("demo2").innerHTML ="<div class='loader'></div>";
  var x = document.getElementById("netw").value;
  input2(x);
}


function redirect2(){
       window.location.href = '{% url 'display_name' %}';
    }


function input3(X) {
    $.ajax({
        url : "", // the endpoint
        type : "POST", // http method
        dataType: "html",//"json",
        data : {csrfmiddlewaretoken: '{{ csrf_token }}',
                create_token: 'create_token',
                input3 : {"x":X},},
	    success: function(data, XMLHttpRequest, status) {
            //timedRefresh(0);
		    redirect3();}
    });
    //document.getElementById("text").innerHTML = "Group2";
};


function Function3() {
  document.getElementById("demo3").innerHTML ="<div class='loader'></div>";
  var x = document.getElementById("netw").value;
  input3(x);
}


function redirect3(){
       window.location.href = '{% url 'cluster_pick' %}';
    }


function delete_netw(X) {
    $.ajax({
        url : "", // the endpoint
        type : "POST", // http method
        dataType: "html",//"json",
        data : {csrfmiddlewaretoken: '{{ csrf_token }}',
                create_token: 'create_token',
                delete : {"x":X},},
		success: function(data, XMLHttpRequest, status) {
            timedRefresh(0);
        }        
    }); 
};
function deleter(){
       var Q = "Q";
       delete_netw(Q);
    }



function not_proceed() {
  document.getElementById("text").innerHTML = "You need to some data and sorting metric";
}

function not_proceedX() {
  document.getElementById("text1").innerHTML = "You cannot select 'Cluster pick' when sorting metric = None";
}

function timedRefresh(timeoutPeriod) {
	setTimeout("window.location.href = window.location.href;",timeoutPeriod);
}


function input(X) {
    $.ajax({
        url : "", // the endpoint
        type : "POST", // http method
        dataType: "html",//"json",
        data : {csrfmiddlewaretoken: '{{ csrf_token }}',
                create_token: 'create_token',
                input : {"x":X},},
		success: function(data, XMLHttpRequest, status) {
            timedRefresh(0);
        }

                
    }); 
    //document.getElementById("text").innerHTML = "Group2";
};


//function write() {
//	document.getElementById("pars").innerHTML = sessionStorage.getItem('lastname');
//}
//function write_text() {
//	setTimeout("write();",2500);
//}


function Function() {
  var x = document.getElementById("Name").value;
  var x1 = document.getElementById("Name1").value;
  var x2 = document.getElementById("srt").value;
  document.getElementById("demo").innerHTML = "preparing the image...";
  var X = x+","+x1+","+x2;
  input(X);
  //var my_refresh = setInterval(function() {
  //  		$('#hejsa').load('');
  //	  timedRefresh(1);}, 500);

  //timedRefresh(1000);
  //sessionStorage.setItem("XX", X);
  //timedRefresh(2000);
  //write_text();
  //setTimeout("document.getElementById('pars').innerHTML = X;",2500);
  //var XX = sessionStorage.getItem('XX');
  document.getElementById("pars").innerHTML = X;
  //write_text('document.getElementById("pars").innerHTML = X;');
}

function redirect(){
       window.location.href = '{% url 'home' %}';
    }

$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});

</script>

<style>
#b1{
height: 40px;
}
#b2{
height: 40px;
}
#b3{
height: 40px;
//border-color:black;
color:white;
//background-color:black;
}

img {
  top: 0px;
  z-index: -1;
}

* {
  box-sizing: border-box;
}


.column {
  float: left;
  width: 19%;
  padding: 10px;
  height: 250px; 
}
.row:after {
  content: "";
  display: table;
  clear: both;
  padding:0px
}
.row {
  padding-left:25px
}
.column2 {
  float: left;
  width: 37%;
  padding: 10px;
  height: 300px; 
}

#Name{
height: 40px;
border-color:black;
color:black;
}
#Name1{
height: 40px;
border-color:black;
color:black;
}
#srt{
height: 40px;
border-color:black;
color:black;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

</style>

<div class="container">
	<div class="row">
		<div class="col">
		<!--<span class="badge badge-pill badge-secondary">INFO</span>
		<p>
			We found the following parameters in the dataset: (col1) 
			{% for iter in uploaded_file_stuff %}
			  {{ iter|linebreaks }},
			{% endfor %} (Col2): {% for iter in obsm %}
          {{ iter|linebreaks }},
        {% endfor %}
		</p>
		<div class="container">
		  <div class="row">
			<div class="col">
			  1 of 3
			</div>
			<div class="col">
			  3 of 3
			</div>
		  </div>
		</div>
		{% csrf_token %}
		{% if stop %}
			<button onclick="redirect()" id="b1" class="float-left submit-button" >To Home</button>
			<h1>Something went wrong with the file upload. Go to Home.</h1>
		{% endif %}
		-->
		</div>
	</div>
</div>
<div class="container">
{% if net_nm|length == 0 %}
	<p>Choose network that will be used: 
<div class="row">
	<div class="col">
<table style="width:50%"><select id="netw"  class="form-control" data-toggle="tooltip" title="Select.">
    <option value="networkBIOGRID-ALL-3.5.171.tab2">networkBIOGRID-ALL-3.5.171.tab2</option>
    <option value="BIOGRID_PPI_3.5.187_tab_physical_9606_interactions.tab2">BIOGRID_PPI_3.5.187_tab_physical_9606_interactions.tab2</option>
    <option value="BIOGRID_PPI_3.5.187_tab_all_9606_interactions.tab2">BIOGRID_PPI_3.5.187_tab_all_9606_interactions.tab2</option>
  </select></p> </table><!--<b>{{ net_nm }}</b></p>-->
</div>
</div>
{% else %}
<div class="row">
	<div class="col">
<p> network that will be used: <b>{{ net_nm }}</b>
	</div>
	<div class="col">
<button onclick="deleter();" id="noid" class="btn btn-secondary btn-sm" >Choose another network?</button></p>
	</div>
</div>

{% endif %}

	<div class="row">
		<div class="container">
		<div class="row">
			<div class="col-1">
				<span class="badge badge-pill badge-primary">1</span>
		
			</div>
			<div class="col">
				<h5>To draw trajectories or pick clusters, you need to choose a plot from the uploaded AnnData object that will be used as template. Select "Plot color", "Type of plot" and "Sorting key" in the dropdown menus below.</h5> 
				<p>- The "Plot color" dropdown menu contains color-options for your plots.</br>
				- The "Type of plot" dropdown menu contains your previously generated plots.</br> 
					- The data you want to cluster, will be sorted according to the "Sorting key"-option you choose (we recommend using pseudotime). </p>
			</div>
		</div>
		</div>
		<div class="container">
		  <div class="row">
			<div class="col">
			<center>
			  <div class="form-group">
				<label for="FormControlSelect1">Plot color</label>
				<select class="form-control" id="Name">
				  {% for iter in uploaded_file_stuff %}
					<option value="{{ iter }}">{{ iter }}</option>
				  {% endfor %}
				</select>
				{% if parms|length > 0 %}
					<p> [selected: {{ parms.0 }} ] </p>
				{% endif %}
			  </div>
			</center>
			</div>
			<div class="col">
			<center>
			  <div class="form-group">
				<label for="FormControlSelect2">Type of plot</label>
				<select class="form-control" id="Name1">
				  {% for iter in obsm %}
					<option value="{{ iter }}">{{ iter }}</option>
				  {% endfor %}
				</select>
				{% if parms|length > 0 %}
					<p> [selected: {{ parms.1 }} ] </p>
				{% endif %}
			  </div>
			</center>
			</div>
			<div class="col">
			<center>
			  <div class="form-group">
				<label for="FormControlSelect3">Sorting key</label>
				<select class="form-control" id="srt">
				  {% for iter in data1 %}
					<option value="{{ iter }}">{{ iter }}</option>
				  {% endfor %}
				</select>
				{% if parms|length > 0 %}
					<p> [selected: {{ parms.2 }} ] </p>
				{% endif %}
			  </div>
			</center>
			</div>
			<div class="col">
				<center>
				<div class="form-group">
				<label for="FormControlSelect4">Click to generate plot</label>
				<button class="form-control btn btn-primary" onclick="Function()" id="b3">Generate plot</button>
				<p></p>
				<p id="demo"></p>
			  </div>
			  </center>
			</div>
		  </div>
		  </div>
		  <div class="container">
			<hr>
		  </div>
		  
		  <div class="container">
			<div class="row">
			<div class="col">
				{% if img != "0" %}
				 <div id="imag">
				  {{ img }}
				 </div>
				{% else %}
				  <h6>Please specify your parameters above.</h6>
				{% endif %}
			</div>
		  </div>
		  </div>
		  
		  <div class="container">
			<hr>
		  </div>

		  {% if img != "0" %}

		  <div class="container">
		<div class="row">
			<div class="col-1">
				<span class="badge badge-pill badge-primary">2</span>
			</div>
			<div class="col">
				<h5>Once you have chosen the template-plot you want use, you can continue to do the following actions: (1) Draw trajectory (get info here), (2) Pick clusters (get info here).</h5>
			</div>
		</div>


		  <div class="row">
			<div class="col">
			<h3 id="demo2"></h3>
			{% if net_nm|length == 0 %}
			  <button onclick={% if img != "0" %} "Function2();" {% else %} "not_proceed();" {% endif %} id="b1" class="btn btn-primary" >Draw trajectory</button>
			{% else %}
			  <button onclick={% if img != "0" %} "redirect2();" {% else %} "not_proceed();" {% endif %} id="b1" class="btn btn-primary" >Draw trajectory</button>
			{% endif %}
			</div>
			<div class="col">
			<h3 id="demo3"></h3>
			{% if net_nm|length == 0 %}
			  <button onclick={% if img != "0" %} "Function3();" {% else %} "not_proceed();" {% endif %} id="b2" class="btn btn-primary" >Pick clusters</button><br/>
			{% else %}
			  <button onclick={% if img != "0" %} "redirect3();" {% else %} "not_proceed();" {% endif %} id="b2" class="btn btn-primary" >Pick clusters</button><br/>
			{% endif %}
			</div>
			{% if nad == 0 %}
			<div class="col">
			<h3 id="demo4"></h3>
                          <button onclick="location.href = '{% url 'change_anndata' %}';" id="b2" class="btn btn-warning" data-toggle="tooltip" title="You can select cells or clusters of cells that should be removed....">Change anndata</button><br/>

			</div>
			{% endif %}
		  </div>		  
		</div>
		{% endif %}
	</div>
</div>

{% endblock %}

