{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}
{% csrf_token %}
{% block content %}




<style>
html {
	-webkit-font-smoothing: antialiased!important;
	-moz-osx-font-smoothing: grayscale!important;
	-ms-font-smoothing: antialiased!important;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size:16px;
  color:#555555;
}
.md-stepper-horizontal {
	display:table;
	width:100%;
	margin:0 auto;
	background-color:#FFFFFF;
	box-shadow: 0 3px 8px -6px rgba(0,0,0,.50);
}
.md-stepper-horizontal .md-step {
	display:table-cell;
	position:relative;
	padding:24px;
}
.md-stepper-horizontal .md-step:hover,
.md-stepper-horizontal .md-step:active {
	background-color:rgba(0,0,0,0.04);
}
.md-stepper-horizontal .md-step:active {
	border-radius: 15% / 75%;
}
.md-stepper-horizontal .md-step:first-child:active {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.md-stepper-horizontal .md-step:last-child:active {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.md-stepper-horizontal .md-step:hover .md-step-circle {
	background-color:#757575;
}
.md-stepper-horizontal .md-step:first-child .md-step-bar-left,
.md-stepper-horizontal .md-step:last-child .md-step-bar-right {
	display:none;
}
.md-stepper-horizontal .md-step .md-step-circle {
	width:30px;
	height:30px;
	margin:0 auto;
	background-color:#999999;
	border-radius: 50%;
	text-align: center;
	line-height:30px;
	font-size: 16px;
	font-weight: 600;
	color:#FFFFFF;
}
.md-stepper-horizontal.green .md-step.active .md-step-circle {
	background-color:#00AE4D;
}
.md-stepper-horizontal.orange .md-step.active .md-step-circle {
	background-color:#F96302;
}
.md-stepper-horizontal .md-step.active .md-step-circle {
	background-color: rgb(33,150,243);
}
.md-stepper-horizontal .md-step.done .md-step-circle:before {
	font-family:'FontAwesome';
	font-weight:100;
	content: "\f00c";
}
.md-stepper-horizontal .md-step.done .md-step-circle *,
.md-stepper-horizontal .md-step.editable .md-step-circle * {
	display:none;
}
.md-stepper-horizontal .md-step.editable .md-step-circle {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}
.md-stepper-horizontal .md-step.editable .md-step-circle:before {
	font-family:'FontAwesome';
	font-weight:100;
	content: "\f040";
}
.md-stepper-horizontal .md-step .md-step-title {
	margin-top:16px;
	font-size:16px;
	font-weight:600;
}
.md-stepper-horizontal .md-step .md-step-title,
.md-stepper-horizontal .md-step .md-step-optional {
	text-align: center;
	color:rgba(0,0,0,.26);
}
.md-stepper-horizontal .md-step.active .md-step-title {
	font-weight: 600;
	color:rgba(0,0,0,.87);
}
.md-stepper-horizontal .md-step.active.done .md-step-title,
.md-stepper-horizontal .md-step.active.editable .md-step-title {
	font-weight:600;
}
.md-stepper-horizontal .md-step .md-step-optional {
	font-size:12px;
}
.md-stepper-horizontal .md-step.active .md-step-optional {
	color:rgba(0,0,0,.54);
}
.md-stepper-horizontal .md-step .md-step-bar-left,
.md-stepper-horizontal .md-step .md-step-bar-right {
	position:absolute;
	top:36px;
	height:1px;
	border-top:1px solid #DDDDDD;
}
.md-stepper-horizontal .md-step .md-step-bar-right {
	right:0;
	left:50%;
	margin-left:20px;
}
.md-stepper-horizontal .md-step .md-step-bar-left {
	left:0;
	right:50%;
	margin-right:20px;
}

</style>


<div class="md-stepper-horizontal orange">
    <div class="md-step active">
      <div class="md-step-circle"><span>1</span></div>
      <div class="md-step-title">Upload Data</div>
      <div class="md-step-bar-left"></div>
      <div class="md-step-bar-right"></div>
    </div>
    <div class="md-step active">
      <div class="md-step-circle"><span>2</span></div>
      <div class="md-step-title">Select Plot</div>
      <div class="md-step-bar-left"></div>
      <div class="md-step-bar-right"></div>
    </div>
    <div class="md-step active">
      <div class="md-step-circle"><span>3</span></div>
      <div class="md-step-title">Select Trajectories</div>
      <div class="md-step-bar-left"></div>
      <div class="md-step-bar-right"></div>
    </div>
    <div class="md-step active ">
      <div class="md-step-circle"><span>4</span></div>
      <div class="md-step-title">Select Parameter</div>
      <div class="md-step-bar-left"></div>
      <div class="md-step-bar-right"></div>
    </div>
	<div class="md-step">
      <div class="md-step-circle"><span>5</span></div>
      <div class="md-step-title">Results</div>
      <div class="md-step-bar-left"></div>
      <div class="md-step-bar-right"></div>
    </div>
  </div>





<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>


  var data = sessionStorage.getItem('name');
  console.log(data) 
  var dta = {'x':data};

  function create_post(dta) {
    $.ajax({
        url : "", // the endpoint
        type : "POST", // http method
        dataType: "html",//"json",
        data : {csrfmiddlewaretoken: '{{ csrf_token }}',
                create_token: 'create_token',
                stuff : dta,},
	    success: function(data, XMLHttpRequest, status) {
            //timedRefresh(0);
	    redirect();
        }

     });
  };

//create_post(dta);
//create_name(nm);

function input(X) {
    $.ajax({
        url : "", // the endpoint
        type : "POST", // http method
        dataType: "html",//"json",
        data : {csrfmiddlewaretoken: '{{ csrf_token }}',
                create_token: 'create_token',
                input : {"x":X},},
	    success: function(data, XMLHttpRequest, status) {
            //timedRefresh(0);
		    redirect();}
    });
    //document.getElementById("text").innerHTML = "Group2";
};



function other(y) {
    $.ajax({
        url : "", // the endpoint
        type : "POST", // http method
        dataType: "json",
        data : {csrfmiddlewaretoken: '{{ csrf_token }}',
                create_token: 'create_token',
                input : {"x":y},},
    });
};

  //<p>--------------------------------------------------------------------------------</p>
  //<h4>More advances settings:</h4>
  //<p>blah <input type="text" id="t5" value="0"></p>
  //<p>blah <input type="text" id="t6" value="0"></p>
  //<p>blah <input type="text" id="t7" value="0"></p>

function Function() {
  var x = document.getElementById("Linkage").value;
  var x1 = document.getElementById("Metric").value;
  var x2 = document.getElementById("Type").value;
  var x3 = document.getElementById("t2").value;
  var x4 = document.getElementById("t3").value;
  var x5 = document.getElementById("t4").value;
  //var x6 = document.getElementById("filetype").value;
  //var x6 = "_";
  var x7 = "Use first instance";
  //if ($('#dbgenes').length) {
  //    x7 = "Take average";//document.getElementById("dbgenes").value;
  var x8 = document.getElementById("umap").value;
  var x9 = document.getElementById("umap_dim").value;
  //console.log("hej") 
  //if (x7 == null) {
  //   var x7 = "nothing"
  //}

  if (x3 > 0 && x4 > 0 && x5 > 0 && x9 > 1) { 
     document.getElementById("demo").innerHTML = "Initializing parameters and generating input data...";
     var X = x+","+x1+","+x2+","+x3+","+x4+","+x5+","+x7+","+x8+","+x9;
     input(X);
     //timedRefresh(2500);
     //setTimeout(redirect, 2000);
  } else { document.getElementById("demo").innerHTML = "Need to use valid values as parameters!!";}
  //document.getElementById("demo").innerHTML = x+","+x1+","+x2+","+x3+","+x4+","+x5+","+x6+","+x7;
  //document.getElementById("demo").innerHTML = "Initializing parameters and generating input data..."
  
  //redirect();
}

function timedRefresh(timeoutPeriod) {
	setTimeout("window.location.href = window.location.href;",timeoutPeriod);
}

function loader() {
	timedRefresh(100);
}

function redirect(){
       window.location.href = '{% url 'loading' %}';
    }

function Checker() {
  var y = document.getElementById("filetype").value;
  var y3 = document.getElementById("NM").value;
  var Y = y+","+y3
  other(Y);
  //redirect();
  timedRefresh(2500);
  feedback1();
}

function feedback() {
  document.getElementById("demo3").innerHTML = "Upload file with at least 2 genes in BioGrid";
}
function feedback2() {
  document.getElementById("demo2x").innerHTML = "Press 'Calculate stuff' before clustering can be initiated";
}

function feedback1() {
  document.getElementById("demo4").innerHTML = "      Please wait while the data is being analyzed...";
}

function Response() {
  var x7 = document.getElementById("filetype").value;
  //var e = document.getElementById("selectDay");
  //var strUser = e.options[e.selectedIndex].value;
  if (x7 == 'mm_gene_symbol') { 
     document.getElementById("demo1").innerHTML = ">>Mouse gene Symbols. Some conversion errors may occur when converting to human gene Entrez IDs.";}
  else if (x7 == 'hm_gene_symbol') { 
     document.getElementById("demo1").innerHTML = ">>Human gene Symbols. Some conversion errors may occur when converting to human gene Entrez IDs.";}
  else if (x7 == 'hm_ensambl_ID') { 
     document.getElementById("demo1").innerHTML = ">>Human Ensembl IDs. Ensembl IDs will be mapped to Stable Ensembl IDs.";}
  else if (x7 == 'hm_entrez_ID') { 
     document.getElementById("demo1").innerHTML = ">>Human Entrez IDs.";}
}
//   <p><button onclick="loader()">Refresh</button></p>
//  Name:<input type="text" id="NMx">


//  {% if ln_indx == 0 %}
//     <button onclick="feedback()" id="b1">Calculate input data</button>
//     <button onclick="feedback2()" id="b1">Start clustering</button>
//  {% endif %}

//  {% if ln_indx != 0 %}
//    <button onclick="Function()" id="b1">Calculate input data</button>
//    {% if inp|length == 8 %}
//      <button onclick="redirect()" id="b1">Start clustering</button>
//    {% endif %}
//    {% if inp|length != 8 %}
//      <button onclick="feedback2()" id="b1">Start clustering</button>
//    {% endif %}
//  {% endif %} 

$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});
</script>

<style>

.table { table-layout:fixed; }
</style>

<div class="row">
  <div class="col"> 

  <h3>Automatic gene search</h3>
  <p>Used column <b>"{{ navn }}"</b> from the uploaded AnnData object and found:</p>
  <p><b>{{ ln_indx }} out of {{ ln_fil }} genes had an Entrez ID and were in the '{{ net_nm }}' graph.</b></p>
  <p>The automatic gene search looked trough all adata.var columns and chose the column that had the highest number of hits.</p>

  {% if now|length != 0 %}
    <h3>The following genes were mapped to the same Entrez IDs:</h3>
    {% for key,value in now.items %}
      <p>gene {{ key }} was found at position: {{ value }}</p>
    {% endfor %}
  {% endif %}

  {% if uploaded_file_url %}
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Give name</button>
    </form>
  {% endif %}
</div>
</div>
<div class="row">
	<div class="col">
<hr>
 <h3><b>Select parameters for the constrained hierarchical clustering</b></h3>
 <h5><b>If you click on the advanced options below, you can choose to uncouple UMAP from the pipeline.</b></h5>
  Move your mouse cursor to the dropdown menus to get information.
<table style="width:100%">

  <tr>
  <th>Metric</th>
  <td><select id="Metric"  class="form-control" data-toggle="tooltip" title="Select metric for the hyper-similarity matrix.">
    <option value="Euclidean">Euclidean</option>
    <option value="Manhattan">Manhattan</option>
    <option value="Minkowski">Minkowski</option>
    <option value="Pearson">Correlation</option>
  </select></td>
  </tr>


  <tr>
  <th>Size of smallest clusters</th>
  <td><input type="number" class="form-control" id="t2" value="10" min="1" data-toggle="tooltip" title="Select the size of the smallest clusters you wish to find."></td>
  </tr>

  <tr>
  <th>Number of clusters</th>
  <td><input type="number" class="form-control" id="t3" value="5" min="1" data-toggle="tooltip" title="Select the number of clusters you wish to find."></td>
  </tr>



  <tr>
  <!--
  {% if now|length != 0 %}
  <th>Todo with double genes</th>
  <td><select id="dbgenes" class="form-control" data-toggle="tooltip" title="Some genes have been mapped to the same Entrez IDs. Choose wheter the first instance or the averge of the double-mapped genes should be used.">
    <option value="Use first instance">Use first instance</option>
    <option value="Take average">Take average</option>
  </select></td>
  {% endif %}
  </tr>
  -->

  {% if now|length != 0 %}
  <th>Todo with double-mapped genes</th>
  <td><p id="dbgenes" data-toggle="tooltip" title="Some genes have been mapped to the same Entrez IDs. Scellnetor will automatically find the average expresseion values of the double-mapped genes.">
   Use first instance
  </p></td>
  {% endif %}
  </tr>



</table>


  </div>
</div>
 <hr>

<div class="container">
  <h3><b>Advanced Parameters</b></h3>
      <p>Move your mouse cursor to the dropdown menus to get information.</p>
  <a href="#demo33" class="btn btn-info" data-toggle="collapse">Show / Hide</a>
  <div id="demo33" class="collapse">
    <div class="row">
      <div class="col">
    <hr>
        Move your mouse cursor to the dropdown menus to get information.
    <table style="width:100%">
      <tr>
        <th>Linkage</th>
        <td><select id="Linkage" class="form-control" data-toggle="tooltip" title="Select linkage for the hierarchical clustering.">
         <option value="Complete">Complete</option>
         <option value="Average">Average</option>
         <option value="Single">Single</option>
         </select></td>
      </tr>

      <tr>
      <th>Type of analysis</th>
      {% if grops > 0 %}
        <td><select id="Type" class="form-control" data-toggle="tooltip" title="Choose whether the clusters should be similar or dissimilar when comparing the two sets of single cells.">
          <option value="Far away/negative corr.">Far away/negative corr.</option>
          <option value="Close/positive corr.">Close/positive corr.</option>
        </select></td>
      {% endif %}
      {% if grops == 0 %}
        <td><select id="Type" class="form-control" data-toggle="tooltip" title="Will find genes that are similarly expressed.">
          <option value="Close/positive corr.">Close/positive corr.</option>
        </select></td>
      {% endif %}
      </tr>


      <tr>
      <th>Moving average neighbors</th>
      <td><input type="number" class="form-control" id="t4" value="20" min="1" data-toggle="tooltip" title="Select size of moving average. The moving average will streamline the single cell gene expression data."></td>
      </tr>

      <tr>
      <th>Use UMAP</th>
      <td><select id="umap" class="form-control" data-toggle="tooltip" title="Declare whether you wish to use UMAP for additional dimensionality reduction.">
         <option value="True">True</option>
         <option value="False">False</option>
         </select>
      </td>
      </tr>

      <tr>
      <th>UMAP dimensions</th>
      <td><input type="number" class="form-control" id="umap_dim" value="2" min="2" data-toggle="tooltip" title="Select the number of dimensions UMAP should reduce the data to - should be >1. If 'Use UMAP == False' this menu will be ignored. If the chosen number of dimensions exceeds the dimension number of the data, the used reduced dimension number will be '2'"></td>
      </tr>

    </table>
  </div>
</div>
  </div>
</div>
 <hr>
  <p id="demo"></p>
  <p id="demo3"></p>
  <p id="demo2x"></p>
  {% if ln_indx == 0 %}
     <button onclick="feedback()" id="b1" class="btn btn-primary form-control">Start clustering</button>
  {% endif %}

  {% if ln_indx != 0 %}
    <button onclick="Function()" id="b1" class="btn btn-primary form-control">Start clustering</button>
  {% endif %}

{% endblock %}
