{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}
{% block title %} HOME {% endblock %}
{% block content %}  
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script>
function create_post1(dta) {
    $.ajax({
        url : "", // the endpoint
        type : "POST", // http method
        dataType: "html", //"json",
        data : {csrfmiddlewaretoken: '{{ csrf_token }}',
                create_token: 'create_token',
                stuff : {'z':dta},},
	    success: function(data, XMLHttpRequest, status) {
            timedRefresh(0);
        }

    });
};


function timedRefresh(timeoutPeriod) {
	setTimeout("window.location.href = window.location.href;",timeoutPeriod);
}


function change_red() {
    $.ajax({
        url : "", // the endpoint
        type : "POST", // http method
        dataType: "json",
        data : {csrfmiddlewaretoken: '{{ csrf_token }}',
                create_token: 'create_token',
                col : {"c":"red"},},
    });
};

function change_green() {
    $.ajax({
        url : "", // the endpoint
        type : "POST", // http method
        dataType: "json",
        data : {csrfmiddlewaretoken: '{{ csrf_token }}',
                create_token: 'create_token',
                col : {"c":"green"},},
    });
};

document.getElementById("color").innerHTML = "{{ col }}";
document.getElementById("color").style.color = "{{ col }}";

function red_button() {
	sessionStorage.setItem("c",'#FF0000');
	document.getElementById("color").innerHTML = "red";
	document.getElementById("color").style.color = "red";
	change_red();
};

function green_button() {
	sessionStorage.setItem("c",'#00FF00');
	document.getElementById("color").innerHTML = "green";
        document.getElementById("color").style.color = "green";
	change_green();
};



function input2() {
    document.getElementById("demo").innerHTML = "<div class='loader'></div>";
    $.ajax({
        url : "", // the endpoint
        type : "POST", // http method
        dataType: "html",//"json",
        data : {csrfmiddlewaretoken: '{{ csrf_token }}',
                create_token: 'create_token',
                input2 : {"x":"start_it"},},
            success: function(data, XMLHttpRequest, status) {
            //timedRefresh(0);
            //setTimeout(redirect, 0);
            window.location.href = '{% url 'after_simple_upload' %}';
        }

    });
    //document.getElementById("text").innerHTML = "Group2";
};

function go_to_reload_chac(){
       document.getElementById("demo").innerHTML = "<div class='loader'></div>";
       window.location.href = '{% url 'after_simple_upload' %}';
    }




function not_proceed() {
  document.getElementById("text").innerHTML = "This cell has 'inf' as pseudo time value";
}

$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});


function input(X) {
    $.ajax({
        url : "", // the endpoint
        type : "POST", // http method
        dataType: "html",//"json",
        data : {csrfmiddlewaretoken: '{{ csrf_token }}',
                create_token: 'create_token',
                input : {"x":X},},
	    success: function(data, XMLHttpRequest, status) {
            timedRefresh(0);
            //setTimeout(redirect, 0);
            //window.location.href = '{% url 'after_simple_upload' %}';
        }

    });
    //document.getElementById("text").innerHTML = "Group2";
};

function Function() {
  var x3 = document.getElementById("t2").value;
  var x4 = document.getElementById("t3").value;
  var x5 = document.getElementById("t4").value;
  console.log(x4+","+x5);
  //document.getElementById("demo3").innerHTML = "<div class='loader'></div>";

  if (x3 > 0 && x4 > 0 && x5 > 0) {
     //document.getElementById("demo").innerHTML = "Initializing parameters and generating input data...";
     document.getElementById("demo3").innerHTML = "<div class='loader'></div>";	  
     var X = x3+","+x4+","+x5
     input(X);
     //timedRefresh(2500);
     //setTimeout(redirect, 2000);
  } else { document.getElementById("demo3").innerHTML = "Need to use valid values as parameters!!";}

}



</script>

<style>
div.relative {
  position: relative;
  bottom: 590;
  right: 0;
  left: 800;
  width: 30px;
}


.mycontent-left {
  border-right: 1px solid #dee2e6;
}

#non {
	width:100%;
}


.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

</style>

{% csrf_token %}
<div class="row">
	<div class="col">
		<div id="myDiv" style="width: 100%; height: 500px;"><!-- Plotly chart will be drawn inside this DIV --></div>
	</div>
	<div class="col">
		{{ imgx }}
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col"><hr/></div>
	</div>
</div>

<p id="text"></p>

<div class="row">
	<div class="container">
		<div class="row">
			{% if new_diff == "nej" %}
			<div class="col-1">
				<span class="badge badge-pill badge-primary">1</span>
		
			</div>
			<div class="col">
				<h5>Click on the button below to start selecting cells that will not be considered in a new AnnData object.</h5>
			</div>
		</div>
		<div class="row">
			<div class="col">
			<div class="form-group">
				<button class="btn-info form-control"  onclick="red_button()" id="b2">Click here to start selecting</button>
			</div>
			</div>
			<div class="col">
			<!--<div class="form-group">
				<button class="form-control btn btn-success" onclick="green_button()" id="b2">Green</button>
			</div>-->
			<b></b>
			</div>
		</div>
		
		<div class="row">
			<div class="col">
				<!--<p>Your current color is: <font color="{{ col }}" id="color">{{ col }}</font> - cells in both groups are: <font color="#008080">cyan</font></p>-->
			<table style="width:50%">
				<tr>
  				<th>Number of principal components (PCs)</th>
				 <td><input type="number" class="form-control" id="t2" value="50" min="1" data-toggle="tooltip" title="Select the number of PCs that should be used when running 'sc.tl.pca()'. We use svd_solver='arpack'."></td>
  				</tr>

  				<tr>
  				<th>Number of neighbors for Scanpy neighborhood graph</th>
  				<td><input type="number" class="form-control" id="t3" value="150" min="1" data-toggle="tooltip" title="Select the number of 'neighbors' (n_neighbors) that should be used when running 'sc.pp.neighbors()'."></td>
  				</tr>

  				<tr>
  				<th>Number of PCs for Scanpy neighberhood graph</th>
  				<td><input type="number" class="form-control" id="t4" value="50" min="1" data-toggle="tooltip" title="Select the number of PCs that should be used when running 'sc.pp.neighbors()'."></td>
  				</tr>

			</table>
			</div>
		</div>
		<p></p>
		        <div class="row justify-content-md-center">
                        <div class="col col-lg-5">
				<h3 id="demo3"></h3>
                                <button onclick="Function()" id="myButton" class="float-left  btn-primary form-control" style="color:balck">Find new AnnData object</button>

                        </div>
                </div>
                {% endif %}
                {% if new_diff == "ja" %}
                        <div class="col-1">
                                <span class="badge badge-pill badge-primary">1</span>

                        </div>
                        <div class="col">
                                <h5>Click on the button below to select a single cell as starting point for the psedotime calculation.</h5>
                        </div>
                </div>
                <div class="row">
                        <div class="col">
                        <div class="form-group">
                                <button class="btn-warning form-control"  onclick="red_button()" id="b2">Click here to start selecting</button>
                        </div>
                        </div>
                        <div class="col">
                        <!--<div class="form-group">
                                <button class="form-control btn btn-success" onclick="green_button()" id="b2">Green</button>
                        </div>-->
                        <b></b>
                        </div>
                </div>

                <div class="row">
                        <div class="col">
                                <!--<p>Your current color is: <font color="{{ col }}" id="color">{{ col }}</font> - cells in both groups are: <font color="#008080">cyan</font></p>
                        <table style="width:50%">
                                <tr>
                                <th>Number of principal components (PCs)</th>
                                 <td><input type="number" class="form-control" id="t2" value="50" min="1" data-toggle="tooltip" title="Select the number of PCs that should be used when running 'sc.tl.pca()'. We use svd_solver='arpack'."></td>
                                </tr>

                                <tr>
                                <th>Number of neighbors for Scanpy neighborhood graph</th>
                                <td><input type="number" class="form-control" id="t3" value="150" min="1" data-toggle="tooltip" title="Select the number of 'neighbors' (n_neighbors) that should be used when running 'sc.pp.neighbors()'."></td>
                                </tr>

                                <tr>
                                <th>Number of PCs for Scanpy neighberhood graph</th>
                                <td><input type="number" class="form-control" id="t4" value="50" min="1" data-toggle="tooltip" title="Select the number of PCs that should be used when running 'sc.pp.neighbors()'."></td>
                                </tr>

			</table> 
                        </div>
                </div>
                <p></p>
                        <div class="row justify-content-md-center">
                        <div class="col col-lg-5">
                                <h3 id="demo3"></h3>
                                <button onclick="Function()" id="myButton" class="float-left  btn-primary form-control" style="color:balck">Calculate pseudotime and make plots</button>

                        </div>
			</div>-->
                {% endif %}



	</div>
</div>
 
<div class="container">
	<div class="row">
		<div class="col"><hr/></div>
	</div>
</div>

<div class="row">
	<div class="container">
		<div class="row">
			<div class="col-1">
				<span class="badge badge-pill badge-primary">2</span>
		
			</div>
			<div class="col">
				<h5>Once you are happy with your selection, click proceed. Wanna restart? Click reset.</h5>
			</div>
		</div>
		<div class="row">
			<div class="col">
			<button onclick="location.href = '{% url 'change_start_over' %}';" id="myButton" class="float-left btn-secondary form-control">Reset</button> 
			</div>
			<div class="col">
				{% if ps_cl|length == 0 %}
				<p> Group sizes: {{ objs }} <p/>
				<p> cluster numbers: {{ cl }} </p>
				{% else %}
				<h3 id="demo"></h3>
				
				<p> Pseudotime starting point is in cluster: {{ ps_cl }} </p>
			
				   <button onclick="input2()" id="myButton" class="float-left  btn-primary form-control" style="color:balck">Proceed</button>
				{% endif %}
				
				
				
			</div>
		</div>
	</div>
</div> 
<script>
var X = eval('{{ X | safe }}');
var Y = eval('{{ Y | safe }}');
var COL = eval('{{ COL | safe }}');
var inf_ = eval('{{ inf_ | safe }}');
var myPlot = document.getElementById('myDiv'),
    x = X,
    y = Y,
    colors = COL,
    datax = [{x:x, y:y,       
             type:'scatter',
             mode:'markers', marker:{size:8, color:colors}}],
    layout = {
        hovermode:'closest',
  xaxis: {
    showticklabels: false
  },
  yaxis: {
    showticklabels: false
  },
	margin: {
    l: 10,
    r: 10,
    b: 1,
    t: 1,
    pad: 1
  },
     };
//console.log(datax);
Plotly.newPlot('myDiv', datax, layout);

myPlot.on('plotly_click', function(datax){
  var cc = sessionStorage.getItem('c');
  var pn='',
      tn='',
      colors=[];
  for(var i=0; i < datax.points.length; i++){
    pn = datax.points[i].pointNumber;
    tn = datax.points[i].curveNumber;
    console.log(pn+"_"+cc);
    create_post1(pn+"_"+cc);
    colors = datax.points[i].data.marker.color;
  };
  
  //if ( inf_.includes(pn) ){
    colors[pn] = cc;
    var update = {'marker':{color: colors, size:8}};
    Plotly.restyle('myDiv', update, [tn]);
    //}//timedRefresh(300);}
  //else {
  //  not_proceed();}

});

myPlot.on('plotly_restyle', function(datax){
  console.log(datax);
});

</script>
{% endblock %}
