<html>
<head>
{% load static %}
{% load staticfiles %}
{% csrf_token %}
{% block title %}<title>CHAC</title>{% endblock %}

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script>
  var data = sessionStorage.getItem('name');
  console.log(data) 
  var dta = {'x':data};

function create_post(dta) {
    $.ajax({
        url : "", // the endpoint
        type : "POST", // http method
        dataType: "json",
        data : {csrfmiddlewaretoken: '{{ csrf_token }}',
                create_token: 'create_token',
                stuff : dta,},
    });
};

create_post(dta);
//timedRefresh(200);

function redirect(){
       window.location.href = '{% url 'cluster_pick' %}';
    }

setTimeout(redirect, 250);


</script>






</head>
</html>
