{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} HOME {% endblock %}
{% block content %} 

  <div class="row content text-center">

    <div class="container">
      <u><h1>Contact</h1></u>
      If you want to contact us regarding Scellnetor, please contact us in the following order:
     
	<div class="container">
		<hr>
	</div>


	<p><b>Mhaned Oubounyt</b></br>
           oubounyt@wzw.tum.de</p>
     

      
	<p><b>Alexander G. B. Grønning</b></br>
           alexander.gr0nbj0rn@gmail.com</p>
     

        
	<p><b>Jan Baumbach</b></br>
             jan.baumbach@wzw.tum.de</p>
        

  </div>

</div>
{% endblock %}
