{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}
{% block title %} HOME {% endblock %}
{% block content %}  


<style>
html {
	-webkit-font-smoothing: antialiased!important;
	-moz-osx-font-smoothing: grayscale!important;
	-ms-font-smoothing: antialiased!important;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size:16px;
  color:#555555;
}
.md-stepper-horizontal {
	display:table;
	width:100%;
	margin:0 auto;
	background-color:#FFFFFF;
	box-shadow: 0 3px 8px -6px rgba(0,0,0,.50);
}
.md-stepper-horizontal .md-step {
	display:table-cell;
	position:relative;
	padding:24px;
}
.md-stepper-horizontal .md-step:hover,
.md-stepper-horizontal .md-step:active {
	background-color:rgba(0,0,0,0.04);
}
.md-stepper-horizontal .md-step:active {
	border-radius: 15% / 75%;
}
.md-stepper-horizontal .md-step:first-child:active {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.md-stepper-horizontal .md-step:last-child:active {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.md-stepper-horizontal .md-step:hover .md-step-circle {
	background-color:#757575;
}
.md-stepper-horizontal .md-step:first-child .md-step-bar-left,
.md-stepper-horizontal .md-step:last-child .md-step-bar-right {
	display:none;
}
.md-stepper-horizontal .md-step .md-step-circle {
	width:30px;
	height:30px;
	margin:0 auto;
	background-color:#999999;
	border-radius: 50%;
	text-align: center;
	line-height:30px;
	font-size: 16px;
	font-weight: 600;
	color:#FFFFFF;
}
.md-stepper-horizontal.green .md-step.active .md-step-circle {
	background-color:#00AE4D;
}
.md-stepper-horizontal.orange .md-step.active .md-step-circle {
	background-color:#F96302;
}
.md-stepper-horizontal .md-step.active .md-step-circle {
	background-color: rgb(33,150,243);
}
.md-stepper-horizontal .md-step.done .md-step-circle:before {
	font-family:'FontAwesome';
	font-weight:100;
	content: "\f00c";
}
.md-stepper-horizontal .md-step.done .md-step-circle *,
.md-stepper-horizontal .md-step.editable .md-step-circle * {
	display:none;
}
.md-stepper-horizontal .md-step.editable .md-step-circle {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}
.md-stepper-horizontal .md-step.editable .md-step-circle:before {
	font-family:'FontAwesome';
	font-weight:100;
	content: "\f040";
}
.md-stepper-horizontal .md-step .md-step-title {
	margin-top:16px;
	font-size:16px;
	font-weight:600;
}
.md-stepper-horizontal .md-step .md-step-title,
.md-stepper-horizontal .md-step .md-step-optional {
	text-align: center;
	color:rgba(0,0,0,.26);
}
.md-stepper-horizontal .md-step.active .md-step-title {
	font-weight: 600;
	color:rgba(0,0,0,.87);
}
.md-stepper-horizontal .md-step.active.done .md-step-title,
.md-stepper-horizontal .md-step.active.editable .md-step-title {
	font-weight:600;
}
.md-stepper-horizontal .md-step .md-step-optional {
	font-size:12px;
}
.md-stepper-horizontal .md-step.active .md-step-optional {
	color:rgba(0,0,0,.54);
}
.md-stepper-horizontal .md-step .md-step-bar-left,
.md-stepper-horizontal .md-step .md-step-bar-right {
	position:absolute;
	top:36px;
	height:1px;
	border-top:1px solid #DDDDDD;
}
.md-stepper-horizontal .md-step .md-step-bar-right {
	right:0;
	left:50%;
	margin-left:20px;
}
.md-stepper-horizontal .md-step .md-step-bar-left {
	left:0;
	right:50%;
	margin-right:20px;





</style>




  <div class="md-stepper-horizontal orange">
      <div class="md-step active">
        <div class="md-step-circle"><span>1</span></div>
        <div class="md-step-title">Upload Data</div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
      </div>
      <div class="md-step active">
        <div class="md-step-circle"><span>2</span></div>
        <div class="md-step-title">Select Plot</div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
      </div>
      <div class="md-step active">
        <div class="md-step-circle"><span>3</span></div>
        <div class="md-step-title">Select Trajectories</div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
      </div>
      <div class="md-step">
        <div class="md-step-circle"><span>4</span></div>
        <div class="md-step-title">Select Parameter</div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
      </div>
  	<div class="md-step">
        <div class="md-step-circle"><span>5</span></div>
        <div class="md-step-title">Results</div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
      </div>
    </div>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
function create_post1(dta) {
    $.ajax({
        url : "", // the endpoint
        type : "POST", // http method
        dataType: "json",
        data : {csrfmiddlewaretoken: '{{ csrf_token }}',
                create_token: 'create_token',
                stuff : {'z':dta},},
    });
};



function timedRefresh(timeoutPeriod) {
	setTimeout("window.location.href = window.location.href;",timeoutPeriod);
}


 
function match_r_w_g() {
    $.ajax({
        url : "", // the endpoint
        type : "POST", // http method
        dataType: "html",//"json",
        data : {csrfmiddlewaretoken: '{{ csrf_token }}',
                create_token: 'create_token',
                even : {"even":"match_r_w_g"},},
	    success: function(data, XMLHttpRequest, status) {
            timedRefresh(0);
        }
    });
    //timedRefresh(1000);
};


function match_g_w_r() {
    $.ajax({
        url : "", // the endpoint
        type : "POST", // http method
        dataType: "html",// "json",
        data : {csrfmiddlewaretoken: '{{ csrf_token }}',
                create_token: 'create_token',
                even : {"even":"match_g_w_r"},},
	    success: function(data, XMLHttpRequest, status) {
            timedRefresh(0);
        }
    });
    //timedRefresh(1000);
};



function change_red() {
    $.ajax({
        url : "", // the endpoint
        type : "POST", // http method
        dataType: "html",// "json",
        data : {csrfmiddlewaretoken: '{{ csrf_token }}',
                create_token: 'create_token',
                col : {"c":"red"},},
	    success: function(data, XMLHttpRequest, status) {
            timedRefresh(0);
        }
    });
};

function change_green() {
    $.ajax({
        url : "", // the endpoint
        type : "POST", // http method
        dataType: "html",// "json",
        data : {csrfmiddlewaretoken: '{{ csrf_token }}',
                create_token: 'create_token',
                col : {"c":"green"},},
	    success: function(data, XMLHttpRequest, status) {
            timedRefresh(0);
        }
    });
};

function calculate(val) {
    $.ajax({
        url : "", // the endpoint
        type : "POST", // http method
        dataType: "html",
        data : {
			csrfmiddlewaretoken: '{{ csrf_token }}',
            create_token: 'create_token',
            calc : {"calc":val},
		},
		success: function(data, XMLHttpRequest, status) {            
            timedRefresh(0);
        }
    });
};

function myFunction() {
  var x = document.getElementById("myRed").value;
  var x1 = document.getElementById("myGreen").value;
  xx = x+"_"+x1;
  document.getElementById("demo").innerHTML = x+" %"+", "+x1+" %";
  calculate(xx);
  //timedRefresh(1500);
}

document.getElementById("color").innerHTML = "{{ col }}";
document.getElementById("color").style.color = "{{ col }}";

function red_button() {
	sessionStorage.setItem("c",'#FFC20A');
	document.getElementById("color").innerHTML = "Group 1";
	document.getElementById("color").style.color = "#FFC20A";
	change_red();
};

function green_button() {
	sessionStorage.setItem("c",'#0C7BDC');
	document.getElementById("color").innerHTML = "Group 2";
        document.getElementById("color").style.color = "#0C7BDC";
	change_green();
};

function go_to_reload_chac(){
	document.getElementById("demo3").innerHTML ="<div class='loader'></div>"; //innerHTML = ">>> Collecting relevant genes from the uploaded AnnData object... Wait 2 sec.";
       window.location.href = '{% url 'reload_chac_params' %}';
    }

function not_proceed() {
  document.getElementById("text").innerHTML = "This cell has 'inf' as pseudo time value";
}


</script>

<style>
div.relative {
  position: relative;
  bottom: 590;
  right: 0;
  left: 800;
  width: 30px;
}


.mycontent-left {
  border-right: 1px solid #dee2e6;
}

#non {
	width:100%;
}
#b1{
height: 40px;
border-color:blue;
color:white;
background-color:blue;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>

{% csrf_token %}
<div class="row">
	<div class="col">
		<div id="myDiv" style="width: 100%; height: 500px;"><!-- Plotly chart will be drawn inside this DIV --></div>
	</div>
	<div class="col">
		{{ imgx }}
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col"><hr/></div>
	</div>
</div>

<p id="text"></p>

<div class="row">
	<div class="container">
		<div class="row">
			<div class="col-1">
				<span class="badge badge-pill badge-primary">1</span>
		
			</div>
			<div class="col">
				<h5>Select a color to start interacting with the graph and define groups.</h5>
			</div>
		</div>
		<div class="row">
			<div class="col">
			<div class="form-group">
				<button class="form-control btn btn-warning"  onclick="red_button()" id="b2">Group 1</button>
			</div>
			</div>
			<div class="col">
			<div class="form-group">
				<button class="form-control btn btn-info" onclick="green_button()" id="b2">Group 2</button>
			</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
			<p>Your current Group is: <b><font color="{{ col.1 }}" id="color">{{ col.0 }}</font></b> - cells in both groups are: <b><font color="#1AFF1A">Green</font></b></p>
			</div>
		</div>
	</div>
</div>


<div class="container">
	<div class="row">
		<div class="col"><hr/></div>
	</div>
</div>

<div class="row">
	<div class="container">
		<div class="row">
			<div class="col-1">
				<span class="badge badge-pill badge-primary">2</span>
		
			</div>
			<div class="col">
				<h5>You can use these functionalities to draw and expand your trajectories in the plot.</h5>
				<p>- Blue button in the middle will draw your trajectories through the plot based on your selcted points.</br>
				- Value-forms on the left: Uniformly expand your trajectories by inserting a % of cells to include.</br>
			- Buttons on the right: Even out the sizes of the trajectories</p>
			</div>
		</div>
		<div class="row">
			<div class="col">
			<div class="form-group">
				<label for="FormControlSelect4">Include % to Group 1 path</label>
				<input class="form-control" type="text" id="myRed" value="0">
			</div>
			</div>
			<div class="col">
			<div class="form-group">
				<label for="FormControlSelect4">Include % to Group 2 path</label>
				<input class="form-control" type="text" id="myGreen" value="0">
			</div>
			</div>
			<div class="col">
			<div class="form-group">
				<label for="FormControlSelect4">Find greedy path(s)</label>
				<button class="btn btn-success" onclick="myFunction()" id="b2">Calcualte trajectories</button>
				  {% if order|length != 0 %}
					The cells will be ordered based on: {{ order }}
				  {% endif %}
				  <p id="text"></p>
				  <p id="demo"></p>
				  {% if er|length > 0 %}
					 These coordinates contain NaN pseudotime values: {{ er }}
				  {% endif %}
			</div>
			</div>
			<div class="col">
				<div class="form-group">
				<label for="FormControlSelect4">Size [Group 1 = Group 2]</label>
				<button onclick="match_r_w_g()" class="form-control" id="b3"><font color="#FFC20A">Group 1</font> --> <font color="#0C7BDC">Group 2</font></button>
			</div>
			Size of trajctories:
			</div>
			<div class="col">
			<div class="form-group">
				<label for="FormControlSelect4">Size [Group 2 = Group 1]</label>
				<button onclick="match_g_w_r()" class="form-control" id="b3"><font color="#0C7BDC">Group 2</font> --> <font color="#FFC20A">Group 1</font></button>
			</div>
			{% if objs|length > 2 %}
			<p>{{ objs }}<p/>
			{% else %}
			{{ objs.0 }} <br>
			{{ objs.1 }}
			{% endif %}
			</div>
		</div>
	</div>
</div>


<div class="container">
	<div class="row">
		<div class="col"><hr/></div>
	</div>
</div>


<div class="row">
	<div class="container">
		<div class="row">
			<div class="col-1">
				<span class="badge badge-pill badge-primary">3</span>
		
			</div>
			<div class="col">
				<h5>Once you are happy with your trajectorie(s), click proceed. If you want to restart, Click reset.</h5>
			</div>
		</div>
		<div class="row">
			<div class="col">
			<button onclick="location.href = '{% url 'start_over_draw' %}';" id="myButton" class="float-left btn-secondary form-control">Reset</button> 
			</div>
			<div class="col">
				<h3 id="demo3"></h3>

				{% if objs|length > 2 %}
				   
				{% else %}
				   <button onclick="go_to_reload_chac()" id="myButton" class="float-left  btn-primary form-control" style="color:black">Proceed</button>
				{% endif %}
				
			</div>
		</div>
	</div>
</div> 
<script>
var X = eval('{{ X | safe }}');
var Y = eval('{{ Y | safe }}');
var COL = eval('{{ COL | safe }}');
var inf_ = eval('{{ inf_ | safe }}');
var myPlot = document.getElementById('myDiv'),
    x = X,
    y = Y,
    colors = COL,
    datax = [{x:x, y:y,       
             type:'scatter',
             mode:'markers', marker:{size:8, color:colors}}],
    layout = {
        hovermode:'closest',
  xaxis: {
    showticklabels: false
  },
  yaxis: {
    showticklabels: false
  },
	margin: {
    l: 10,
    r: 10,
    b: 1,
    t: 1,
    pad: 1 //4
  },
     };
//console.log(datax);
Plotly.newPlot('myDiv', datax, layout);

myPlot.on('plotly_click', function(datax){
  var cc = sessionStorage.getItem('c');
  var pn='',
      tn='',
      colors=[];
  for(var i=0; i < datax.points.length; i++){
    pn = datax.points[i].pointNumber;
    tn = datax.points[i].curveNumber;
    console.log(pn+"_"+cc);
    create_post1(pn+"_"+cc);
    colors = datax.points[i].data.marker.color;
  };
  
  if ( inf_.includes(pn) ){
    colors[pn] = cc;
    var update = {'marker':{color: colors, size:8}};
    Plotly.restyle('myDiv', update, [tn]);}
  else {
    not_proceed();}

});

myPlot.on('plotly_restyle', function(datax){
  console.log(datax);
});

</script>
{% endblock %}
