{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} HOME {% endblock %}
{% block content %}  



	<script>
function youtube() {
  window.open("https://youtu.be/KKb3AOArkLk");
}
function youtube2() {
  window.open("https://youtu.be/RXokXW4i9fQ");
}

</script>



<style>
div {
  text-align: justify;
  text-justify: inter-word;
}
</style>

<div class="row content text-center">
	<div class="container">
      <h1>Scellnetor Docs & Help</h1>

<hr>
      <p class="lead text-muted"></p>
  <div class="row content text-left">
        <div class="container">
	<div class="row justify-content-md-center">
	<div class="col-md-9">
     <p class="font-weight-bold">
     <div>
                <h3><b>SECURITY INFORMATION</b></h3>
                <p style="margin-left: 40px"><b><ul>
                                <li>All files are securely uploaded and stored at our servers.</li>
                                <li>User-uploaded files and data generated along the Scellnetor pipeline are stored in folders with Unique User IDs that are bound to the session - so, if you close your browser, you cannot go back to your analysis.</li>
                                <li>Whenever you start a new analysis (upload a file or try a test set), a unique session is created.</li>
                                <li>All uploaded and Scellnetor-generated data relating to a analysis are deleted after 12 hours.</li>
                </b></p>
    </div>
    </br>
    </br>
    <h3><b>Read our documentation below or watch a screencast: <!-- <a href="" onclick="youtube();" style="cursor: pointer; cursor: hand;">here</a> or a shorter version with less details (only path-drawing) <a href="" onclick="youtube2();" style="cursor: pointer; cursor: hand;">here</a>.--></b></h3>

    <div class="d-flex justify-content-around">
    <div class="row">

<div class="col">  <p><b>long version:</b></p>
  <iframe width="200" height="180" src="https://www.youtube.com/embed/KKb3AOArkLk" allowfullscreen=""align="middle"></iframe>
</div>

  <div class="col">  <p><b>medium length version:</b></p>
  <iframe width="200" height="180" src="https://www.youtube.com/embed/RXokXW4i9fQ" allowfullscreen=""align="middle"></iframe>
  </div>

   <div class="col">  <p><b>ultra-short version:</b></p>
  <iframe width="200" height="180" src="https://www.youtube.com/embed/Em97nGjprlI" allowfullscreen=""align="middle"></iframe>
  </div>

</div>
    </div>

        </br>
	</br>
	<h3><font color="red">Scellnetor has been updated to work with Scanpy 1.6.0</font></h3>
	<h5><p style="margin-left: 40px"><b><ul>
	    <b>This means</b>:
                                <li>When re-uploading ZIP files with ANNDATA objects used in our paper, the "draw_graph" plots look different.</li>
                                <li>When reproducing the clustering presented in our paper, the clusters will be slightly different than the ones reported in the paper.</li>
                </b></p></h5>
	</br>
        <h3>Contents:</h3></br>
            <ol>
                <li style="font-weight: bold;">Upload your data</li>
            <li style="font-weight: bold;">Select the template-plot</li>
            <li style="font-weight: bold;">Draw trajectories or pick clusters</li>
            <li style="font-weight: bold;">Parameter selection for constrained hierarchical clustering algorithm</li>
            <li style="font-weight: bold;">Inspect and download results</li>
            </ol>
        </p>
<hr>
    <div>

            <ul>
                <p>You can simply track your progress when using the web tool and match it with this guide outlines using the progress bar.
            <p>
             <img src='{% static "doc7.png" %}'class="img-thumbnail "  style="height: 150px; width:800px;"></img>
            <br></p>
                </p>


    </div>
    <div>
            <h5><b>1. Input Data:</b></h5>
            <ul>
                <p>The input data to Scellnetor must be Scanpy AnnData object in H5AD file format. The H5AD file contains your analyzes, clusterings and plots created with Scanpy. When using Scellnetor, it is a good idea to calculate and store pseudotime of your cells’ differentiation trajectories.</p>
	    	<p>To use Scellnetor you have two options: </p>

                <h6>1) Click on <font color="red"><b>[Get started]</b></font> on the home page and upload your desired H5AD file. Here, you can additionally upload your own network as tab separated edge list (nodes should be written using Entrez IDs). <br>
    Or you can click on <font color="red"><b>[Upload old]</b></font> and upload a ZIP file containing Scellentor output files. This allows you to recreate old results or do a clustering with new parameters. If you include a network of your choosing as a tab separated edge list it will be initialized as the one that will be used for the analysis (nodes should be written using Entrez IDs and the file suffix should be ".tab2").</h6>
                <p>
                 <img src='{% static "doc0.png" %}' class="img-thumbnail" style="height: 268px; width:761px; "></img>
                <br></p>

                            <h6>2) Alternatively, you can try out one of our four example data sets. Simply, click on the button <font color="red"><b>[GO!]</b></font> Below the data set you would like to try. .</h6>
                <p>
                 <img src='{% static "doc1.png" %}' class="img-thumbnail " style="  width:800px;"></img>
                <br></p>

    </div>

    <div>
        <h5><b>2. Select the template-plot and choose network:</b></h5>
	<h6><b>2.1. Select the template-plot</b></h6>
        <ul>
            <p>Regardless of the option you chose in the previous step, your next step will be  generating the template-plot that will be used to draw trajectories or to pick clusters.</p>

            <p>
             <img src='{% static "doc2.png" %}' class="img-thumbnail " style="height: 300px; width:800px;"></img>
            <br></p>
            <p>Before generating the plot based on the uploaded AnnData there are some parameters to specify. You need to pick one of the Scanpy-generated plots as a template-plot by specifying three parameters. The drop-down menu options are based on your pre-analysis and they will appear as you name them during scRNA-seq data processing with Scanpy. Here is the meaning of the options that you will see when using our example data set 4.  </p>
            <h6>1) Plot color contains the available color-option for the plot:<br>
                <br>

             <font color="blue"><b>[tissueType]: </b></font>The Single-cell RNA sequencing, in this case, was applied to T
            cells derived from CD8+ T-cells in lung cancer extracted from 3 different tissues. Based on this annotation you can color cells by their tissue type.
                <br>
            <font color="blue"><b>[cellType]: </b></font>Cells clustering based on the cells found in the tissue.
                <br>

            <font color="blue"><b>[patient]: </b></font>The data was extracted from 14 patients. Cells can be colored based on the patients that they belong to.
                <br>

            <font color="blue"><b>[majorClusters]:</b></font> Major CD8 cells clusters in the data.


                 <br>
                <br>

            <h6>2) Type of the plot to be used:<br>
                <br>
                <br>
             <p><font color="blue"><b>[X_pca]: </b></font>This plot is generated when reduceing the dimensionality of the data by running principal component analysis (PCA).

                <br>


            <font color="blue"><b>[X_diffmap]: </b></font> Use the plot that represent the data in a diffusion map space.
                <br>
                <br>

                            <h6>3) sorting key:<br>
                <br>
                <br>
             <p>The data you want to cluster, will be sorted according to the [sorting key] option you choose. <font color="red"><b>we recommend using pseudo-time.</b></font>
              <p>After setting all the 3 parameters, you can generate the template-plot by clicking on <font color="#ff4500"><b>[Generate plot]</b></font>. Now you can <font color="#ff4500"><b>[draw trajectories]</b></font> or <font color="#ff4500"><b>[pick clusters]</b></font>. </p
                    <p> Note that you can always change & edit your annadata using <font color="#ff4500"><b>[Change anndata]</b></font>. </p>

            </h6>
            <p>
             <img src='{% static "doc3.png" %}' class="img-thumbnail " style="height: 750px; width:800px;"></img>
            <br></p>
	</div>
	<div>
	<h6><b>2.2. Choose network</b></h6>
	<ul>
  	<p>Above the console used to specify the template-plot, you can select the network you wish to use for your analysis. If a network has been uploaded with you data, the name of that network will show instead of the dropdown menu.</p>
    </div>

        <div>
        <h5><b>3. Draw trajectories or pick clusters:</b></h5>
            <h6><b>3.1. Draw trajectories:</b></h6>
        <ul>
            <p></p>

            <p>
             <img src='{% static "doc4.png" %}' class="img-thumbnail " style="height: 849px; width:843px;"></img>
            <br></p>
            <p>To draw trajectories with Scellnetor The canvas-plot (in black) allows the user to select cells. These cells are then connected by a greedy path algorithm. The order by which you select cells directs the formation of the trajectories.
                <p>
                1. At least two cells are needed before a trajectory or a path can be created. You make two distinct sets on the canvas-plot using the signature colors, <font color="#FFC20A"><b>amber</b></font> and <font color="#0C7BDC"><b>navy blue</b></font>. To choose cells to include in the amber (Group 1) set click on <font color="#FFC20A"><b>[Group 1]</b></font> then choose the point in The canvas-plot, the same applies to the navy blue set (Group 2).
                </p>
                2. Before drawing the trajectories, Scellnetor offers some functionalities to expand your trajectories, such that more cells can be included in your analysis.

                <p>
                (2.left) a user-defined percentage of cells that neighbor cells in the minimal greedy path for both trajectories (Group 1/Group 2). For optimal comparisons of trajectories, it is recommended that users make trajectories that contain the same or close to the same number of cells.
                </p>


                      <p>You generate the trajectories by clicking on <font color="#5cb85c"><b>[calculate trajectories].</b></font></p>

                <p>(2.right)
                 This functionality allows users to even out the sizes of their drawn trajectories with respect to their number of included cells.</p>


                <p>Once you calculate trajectories and you are satisfied with the results, click on <font color="#ff4500"><b>[Proceed]</b></font>. Otherwise, you can reset all the parameters by clicking on <font color="#ff4500"><b>[Reset]</b></font>.</p>
              <br>



            <h6><b>3.2. pick clusters:</b></h6>

            <p>The cluster-pick function allows you to draw trajectories based on the clusters annotated in the uploaded data as follow:</p>

            <p>
             <img src='{% static "doc5.png" %}' class="img-thumbnail " style="height: 675px; width:844px;"></img>
            <br></p>
            <p>1. You can select cells on the canvas-plot and the cluster to which the cells belongs are colored is in accordance with the chosen color amber/navy blue (Group 1/Group 2).</p>

               2. You can switch between colors and choose cells in different clusters until you satisfied with the created two distinct cluster-sets that can be compared by clicking on <font color="#ff4500"><b>[Proceed]</b></font>. Otherwise you can click on <font color="#ff4500"><b>[Reset]</b></font> to repeat the process.

              <br>
                <br>
    </div>

    <div>
            <h5><b>4. Parameter selection for constrained hierarchical clustering algorithm:</b></h5>
            <ul>
                <p>To perform the constrained hierarchical agglomerative clustering there are a couple of parameters to set up. Here is the meaning of each parameter and the available options:
            <p>
             <img src='{% static "doc6.png" %}' class="img-thumbnail " style="height: 540px; width:908px;"></img>
            <br></p>
                    <h5><b>Basic Parameters:</b></h5>
                </p>
                <font color="blue"><b>Metric:</b></font> Allows you to define the UMAP distance metric that is applied to reduce the dimensions of the smoothed gene expression patterns.
                                     There are four distance metrics to choose from: Euclidean distance, Manhattan distance, Minkowski distance or Correlation.
                <br>
                <font color="blue"><b>Size of smallest clusters:</b></font> You can set the minimum size of the clusters that will be found when comparing two trajectories.
                <br>

            <font color="blue"><b>Number of clusters:</b></font> You can set the minimum size of  number clusters that will be found when comparing two trajectories.
                <br>




                </p>
                    <h5><b>Advanced Parameters:</b></h5>
                </p>

            <font color="blue"><b>Linkage:</b></font> In order to perform clustering, it is required to determine the proximity matrix containing the distance between each point using a distance function.
                Then, the matrix is updated to display the distance between each cluster. You can select among the following three methods:</p>

                <p>Single Linkage:

                In single linkage hierarchical clustering, the distance between two clusters is defined as the shortest distance between two points in each cluster.</p>

                <p>Complete Linkage:

                In complete linkage hierarchical clustering, the distance between two clusters is defined as the longest distance between two points in each cluster.

                <p>Average Linkage:

                In average linkage hierarchical clustering, the distance between two clusters is defined as the average distance between each point in one cluster to every point in the other cluster.

                </p>

            <font color="blue"><b>Type of analysis:</b></font> You define whether you want to find clusters that have similar
                    expression in the two sets (Close/positive corr.) or different expression
                    patterns in the two sets (Far away/negative corr.).


                <br>

            <font color="blue"><b>Moving average neighbors:</b></font> Replacing a data point with the average of its neighbors. Here the number refers to the number of neighbor points to use.
                <br>

            <font color="blue"><b>Use UMAP:</b></font> Choose whether you want to use UMAP for dimensionality reduction.
                <br>

            <font color="blue"><b>UMAP dimensions:</b></font> If "Use UMAP == True", then you can assign the number of dimensions UMAP should reduce the data to.
                <br>

    </div>

    <div>
            <h5><b>5. Inspect and download results:</b></h5>
            <ul>
                <p>When Scellnetor has run a clustering, users can download the main results and all data that were produced by the Scellnetor pipeline. The main results are:
                    <br>

                    1. Clusters or connected components of genes as PDF files and two edge-tables for every cluster in CSV file format where nodes are denoted as human entrez IDs and human gene symbols, respectively.
                                        <br>

                    2. The mean and 95% confidence intervals of the smoothed gene expression of genes in clusters in PDF file format. They are arranged after the
                    variable selected as sorting key. The second axis shows “Normalized moving-average-modified gene expression”. It has been normalized such that the highest value of the concatenation of  and  is 1 and the lowest is 0.
                                        <br>

                    3. TSV files containing statistically significant GO-terms associated with the clusters. It is generated using GOA-tools and that uses Fisher’s exact test to calculate P-values and the Benjamini-Hochberg procedure to find adjusted P-values.
                 <br>
                You can download all the files mentioned above by clicking on <font color="#ff4500"><b>[Download files]</b></font>.

            <p>
             <img src='{% static "doc8.png" %}' class="img-thumbnail" style="width:800px;"></img>
            <br></p>
                </p>
            <p>   In case you are interested in viewing the generated network graphs in an interactive way, you can click on <font color="#ff4500"><b>[View interactive graph]</b></font> button situated on top of each network.</p>
               <p>
             <img src='{% static "doc9.png" %}' class="img-thumbnail" style="width:615px;"></img>
            <br></p>
                </p>
<hr>
Scellnetor

    </div>

















	</div>
        </div>
	</div>
  </div>
{% endblock %}

