<html>
{% extends 'base.html' %}

{% block content %}
<head>
<script>  
</script>
</head>
<body>
{% if user != None %}
<h2>Upload your H5AD file here:</h2>
<h3>Example of a name could be: "scanpy_obj.h5ad"</h3>

  <ul>
    <form action="{% url 'simple_upload' %}">
      <input type="submit" value="AnnData object upload"/>
    </form>
  </ul>
<p></p>
<h2>Try test sets:</h2>
<h3>Test set 1 is based on: <a href="https://scanpy-tutorials.readthedocs.io/en/latest/paga-paul15.html">PAGA for hematopoiesis in mouse (Paul et al., 2015)</a></h3>
  <ul>
    <li>
      <a href="{% url 'run_test1' %}">Test_set_1</a>
    </li>
  </ul>
<h3>Test set 2 is based on: <a href="https://icb-scanpy-tutorials.readthedocs-hosted.com/en/latest/pbmc3k.html">Clustering 3K PBMCs</a></h3>
  <ul>
    <li>
      <a href="{% url 'run_test2' %}">Test_set_2</a>
    </li>
  </ul>
<h3>Test set 3 is based on: <a href="https://github.com/theislab/scanpy_usage/blob/master/170501_moignard15/moignard15.ipynb">DPT for hematopoiesis in mouse (Moignard et al., 2015)</a></h3>
  <ul>
    <li>
      <a href="{% url 'run_test3' %}">Test_set_3</a>
    </li>
  </ul>


<p>You are now logged in as {{ user }}</p>
<a href="{% url 'logout' %}">Logout</a>
{% endif %}


{% if user == None %}
  <p>Please sign up</p>
  <a href="{% url 'signup' %}">Sign up</a>

  <p>Or login</p>
  <a href="{% url 'login' %}">Login</a>
{% endif %}


{% endblock %}
</body>
</html>
