{% extends 'banner.html' %}
{% load staticfiles %}
{% block title %} HOME {% endblock %}
{% block content %}  



<style>
html {
	-webkit-font-smoothing: antialiased!important;
	-moz-osx-font-smoothing: grayscale!important;
	-ms-font-smoothing: antialiased!important;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size:16px;
  color:#555555;
}
.md-stepper-horizontal {
	display:table;
	width:100%;
	margin:0 auto;
	background-color:#FFFFFF;
	box-shadow: 0 3px 8px -6px rgba(0,0,0,.50);
}
.md-stepper-horizontal .md-step {
	display:table-cell;
	position:relative;
	padding:24px;
}
.md-stepper-horizontal .md-step:hover,
.md-stepper-horizontal .md-step:active {
	background-color:rgba(0,0,0,0.04);
}
.md-stepper-horizontal .md-step:active {
	border-radius: 15% / 75%;
}
.md-stepper-horizontal .md-step:first-child:active {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.md-stepper-horizontal .md-step:last-child:active {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.md-stepper-horizontal .md-step:hover .md-step-circle {
	background-color:#757575;
}
.md-stepper-horizontal .md-step:first-child .md-step-bar-left,
.md-stepper-horizontal .md-step:last-child .md-step-bar-right {
	display:none;
}
.md-stepper-horizontal .md-step .md-step-circle {
	width:30px;
	height:30px;
	margin:0 auto;
	background-color:#999999;
	border-radius: 50%;
	text-align: center;
	line-height:30px;
	font-size: 16px;
	font-weight: 600;
	color:#FFFFFF;
}
.md-stepper-horizontal.green .md-step.active .md-step-circle {
	background-color:#00AE4D;
}
.md-stepper-horizontal.orange .md-step.active .md-step-circle {
	background-color:#F96302;
}
.md-stepper-horizontal .md-step.active .md-step-circle {
	background-color: rgb(33,150,243);
}
.md-stepper-horizontal .md-step.done .md-step-circle:before {
	font-family:'FontAwesome';
	font-weight:100;
	content: "\f00c";
}
.md-stepper-horizontal .md-step.done .md-step-circle *,
.md-stepper-horizontal .md-step.editable .md-step-circle * {
	display:none;
}
.md-stepper-horizontal .md-step.editable .md-step-circle {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}
.md-stepper-horizontal .md-step.editable .md-step-circle:before {
	font-family:'FontAwesome';
	font-weight:100;
	content: "\f040";
}
.md-stepper-horizontal .md-step .md-step-title {
	margin-top:16px;
	font-size:16px;
	font-weight:600;
}
.md-stepper-horizontal .md-step .md-step-title,
.md-stepper-horizontal .md-step .md-step-optional {
	text-align: center;
	color:rgba(0,0,0,.26);
}
.md-stepper-horizontal .md-step.active .md-step-title {
	font-weight: 600;
	color:rgba(0,0,0,.87);
}
.md-stepper-horizontal .md-step.active.done .md-step-title,
.md-stepper-horizontal .md-step.active.editable .md-step-title {
	font-weight:600;
}
.md-stepper-horizontal .md-step .md-step-optional {
	font-size:12px;
}
.md-stepper-horizontal .md-step.active .md-step-optional {
	color:rgba(0,0,0,.54);
}
.md-stepper-horizontal .md-step .md-step-bar-left,
.md-stepper-horizontal .md-step .md-step-bar-right {
	position:absolute;
	top:36px;
	height:1px;
	border-top:1px solid #DDDDDD;
}
.md-stepper-horizontal .md-step .md-step-bar-right {
	right:0;
	left:50%;
	margin-left:20px;
}
.md-stepper-horizontal .md-step .md-step-bar-left {
	left:0;
	right:50%;
	margin-right:20px;





</style>




  <div class="md-stepper-horizontal orange">
      <div class="md-step active">
        <div class="md-step-circle"><span>1</span></div>
        <div class="md-step-title">Upload Data</div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
      </div>
      <div class="md-step">
        <div class="md-step-circle"><span>2</span></div>
        <div class="md-step-title">Select Plot</div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
      </div>
      <div class="md-step">
        <div class="md-step-circle"><span>3</span></div>
        <div class="md-step-title">Select Trajectories</div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
      </div>
      <div class="md-step">
        <div class="md-step-circle"><span>4</span></div>
        <div class="md-step-title">Select Parameter</div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
      </div>
  	<div class="md-step">
        <div class="md-step-circle"><span>5</span></div>
        <div class="md-step-title">Results</div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
      </div>
    </div>


<script type="text/javascript">


function accept_cookie() {
  sessionStorage.setItem("cookie", "I_DO");
};

var cook = sessionStorage.getItem("cookie");
if (cook != "I_DO") {
    $(window).on('load',function(){
	//sessionStorage.setItem("cookie", "I_DO");
        $('#myModal').modal('show');
    })};
</script>
<div class="modal hide fade" id="myModal" style="padding-right: 0px">
  <div class="modal-header">
    <h3><font color="white" style="background-color: black;">Cookie consent</font></h3>
  </div>
  <div class="modal-body" style="background-color: white;">
	  <p><b><font>We use cookies to enhance your experience with the Scellnetor-tool. No third parties will touch any of your cookies!</font></b></p>
  </div>
  <div class="modal-footer">
    <a href="{% url 'home' %}" onClick="accept_cookie()" class="btn btn-primary">I Accept</a>
    <a href="#" onClick="MyWindow=window.open('https://www.learn-about-cookies.com/','MyWindow','width=600,height=300'); return false;"  class="btn btn-primary">Learn more</a>
    <a href="#" onClick="MyWindow=window.open('https://www.learn-about-cookies.com/how-to-delete-cookies','MyWindow','width=600,height=300'); return false;" class="btn btn-primary">How to delete cookies</a>
  </div>
</div>
  <div class="row content text-center">
	<div class="container">
      <h1>Scellnetor</h1>
      <p class="lead text-muted"></p>
  <div class="row content text-left">
        <div class="container">
	<div class="row justify-content-md-center">
	<div class="col-md-9"> 
Scellnetor is a novel clustering tool for scRNA-seq data that takes Scanpy generated AnnData objects in H5AD file-format as input. With Scellnetor you can compare two sets of cells that you manually select on one of your Scanpy-generated plots. The output will be connected components of genes where the genes are either differently or similarly expressed in the two sets. You can also do a clustering of a single set, where the genes in the connected components are similarly expressed. For every cluster, you get a plot showing mean gene expression and the genes' 95 % confidence intervals and a table with statistically significant GO-terms. 
<p></p>
Workflow of the webpage:</br>
<ol>
	<li>Upload your data or try a test set</li>
<li>Select the template-plot you want to use</li>
<li>Draw trajectories or pick clusters</li>
<li>Choose parameters for the constrained hierarchical clustering algorithm</li>
<li>Inspect and download results</li>
</ol>
Enjoy. 
	</div>
        </div>
	</div>
  </div>
          <div class="container">
                <hr>
        </div>

<p><b>You can upload your own AnnData object as a H5AD file.</b></p>
	  <p>
		<form action="{% url 'simple_upload' %}">
			<input type="submit" value="Get started" class="btn btn-primary my-2"/>
       </form>
      </p>
      <p><b>You can upload your old data here as a ZIP file.</b></p>
      <p>
                <form action="{% url 'upload_old' %}">
                        <input type="submit" value="Upload old" class="btn btn-primary my-2"/>
       </form>
      
      </p>

    </div>    
	
	<!--<div class="container">			
		<img src="{% static "g1.png" %}" class="rounded float-left img-fluid border" style="max-width: 45%; height:300px;" alt="some text">
		<img src="{% static "conf.png" %}" class="rounded float-right img-fluid border" style="max-width: 45%; height:300px;" alt="some text">
	</div>-->
	
	<div class="container">
		<hr>
	</div>
	  
	<div class="container">
      <h1>Tutorials</h1>
      <p class="lead text-muted">Alternatively, you can try some of the premade examples to give scellnetor a spin! The test dataset are designed for easy and quick overview of the features of Scellnetor!</p>
      <div class="row">
        <div class="col-md-6">
          <div class="card mb-6 shadow-sm" style="margin-bottom: 10px">
            <img src='{% static "demo1.png" %}' style="height: 400px;"></img>
            <div class="card-body">
              <p class="card-text"><b>Try single cells from a hematopoiesis study</b></a></p>
              <p class="card-text">The data is based on: <a href="https://www.ncbi.nlm.nih.gov/pubmed/26627738">Paul et al. (2015)</a></p>
	      <font color="white">hej</font>
	      <!--<div class="d-flex justify-content-between align-items-center">-->
	      <!--<div class="btn-group">-->
                  <a href="{% url 'run_test1' %}"><button type="button" class="btn btn-primary btn-lg btn-block">GO!</button></a>
		  <!--</div>-->
		<!--</div>-->
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card mb-6 shadow-sm" style="margin-bottom: 10px">
            <img src='{% static "demo2.png" %}' style="height: 400px;"></img>
            <div class="card-body">
	      <p class="card-text"><b>Try single cells from a study on peripheral blood mononuclear cells</b></a></p>
              <p class="card-text">The data is based on: <a href="https://icb-scanpy-tutorials.readthedocs-hosted.com/en/latest/pbmc3k.html">Clustering 3K PBMCs</a></p>
	      <!--<div class="d-flex justify-content-between align-items-center">-->
		      <!--<div class="btn-group">-->
                  <a href="{% url 'run_test2' %}"><button type="button" class="btn btn-primary btn-lg btn-block">GO!</button></a>
		  <!--</div>-->
		  <!--</div>-->
            </div>
          </div>
        </div>
    </div>
	<div class="row">
		<div class="col-md-6">
          <div class="card mb-6 shadow-sm" style="margin-bottom: 10px">
            <img src='{% static "demo3.png" %}' style="height: 400px;"></img>
            <div class="card-body">
	      <p class="card-text"><b>Try single cells from another hematopoiesis study</b></a></p>
              <p class="card-text">The data is based on: <a href="https://github.com/theislab/scanpy_usage/blob/master/170501_moignard15/moignard15.ipynb">DPT for hematopoiesis in mouse (Moignard et al., 2015)</a></p>
	      <!--<div class="d-flex justify-content-between align-items-center">-->
	      <!--<div class="btn-group">-->
                  <a href="{% url 'run_test3' %}"><button type="button" class="btn btn-primary btn-lg btn-block">GO!</button></a>
		  <!--</div>-->
		<!--</div>-->
            </div>
          </div>
        </div>

		<div class="col-md-6">
		  <div class="card mb-6 shadow-sm" style="margin-bottom: 10px">
			<img src='{% static "demo4.png" %}' style="height: 400px;"></img>
			<div class="card-body">
		          <p class="card-text"><b>Try single cells from a study on CD8<sup>+</sup> T-cells in lung cancer</b></a></p>
			  <p class="card-text">Test data is based on: <a href="https://www.ncbi.nlm.nih.gov/pubmed/29942094">Guo X et al. (2018) </a></p>
			  <font color="white">hej</font>
			  <!--<div class="d-flex justify-content-between align-items-center">-->
			  <!--<div class="btn-group">-->
				  <a href="{% url 'run_test4' %}"><button type="button" class="btn btn-primary btn-lg btn-block">GO!</button></a>
				  <!--</div>-->
				<!--</div>-->
			</div>
		  </div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 offset-sm-3">
          <div class="card mb-6 shadow-sm" style="margin-bottom: 10px">
            <img src='{% static "demo5.png" %}' style="height: 400px;"></img>
            <div class="card-body">
              <p class="card-text"><b>Try single cells from a study on dysfunctional T-cells in chronic infections</b></a></p>
              <p class="card-text">The data is based on: <a href="https://www.pnas.org/content/116/40/20070.short">Kanev et al. (2019)</a></p>
              <!--<div class="d-flex justify-content-between align-items-center">-->
              <!--<div class="btn-group">-->
                  <a href="{% url 'run_test5' %}"><button type="button" class="btn btn-primary btn-lg btn-block">GO!</button></a>
                  <!--</div>-->
                <!--</div>-->
		</div>
          </div>
        </div>
     </div>
   </div>


    </div>
</div>
{% endblock %}
