{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}
{% csrf_token %}
{% block title %} LOADING {% endblock %}
{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>

<script>
function redirect(){
       window.location.href = '{% url 'run_chac' %}';
    }

setTimeout(redirect, 150);
</script>
<div class="row">
	<div class="col">
		<h1>Please wait while Scellnetor is running, this might take a couple of minutes.</h1>
		<center>
			<div class="loader"></div>
		</center>
		<h2>Useful information.</h2>
		<h4><p>When you have reached the result page and want to perfrom a new clustering you can choose between:</p><p>1. Go back to the template-plot and select new sets of cells.</p><p>2. Go back to the parameter-setting page and redo the clustering with new parameters.</p><p>If you go back via 2., the time it takes to redo the clustering with new parameters will be markedly decreased, as the input data for the clustering algorithm have been generated already.</p></h4>
	</div>	
</div>
{% endblock %}
