{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}
{% csrf_token %}
{% block title %} LOADING {% endblock %}
{% block content %}



<!doctype html>
<html>
<head>
  <title>Vis Network | Basic usage</title>

  <script type="text/javascript" src="https://visjs.github.io/vis-network/standalone/umd/vis-network.min.js"></script>

  <style type="text/css">
    #mynetwork {
      width: 600px;
      height: 400px;
      border: 5px solid lightgray;
    }
  </style>
</head>
<body>


<p>Subnetwork {{wach}} </p>

<div class="row content">
  <div class="col text-left">
    <h1>Interactive Network</h1>
    <h4>Welcome! On this page you can play around with and inspect the subnetworks found by Scellnetor. </h4>
    <h5>(Larger networks need some time to load - they will appear, don't worry)</h5>

  </div>
</div>

{% for i in lastn1|length|get_range %}

<p>Subnetwork {{wach}} </p>
<div id="mynetwork{{i}}"></div>
<hr>
<hr>
<script type="text/javascript">
  // create an array with nodes
  var nodes = new vis.DataSet([
    {{ lastn1|index:i|safe }}
  ]);

  // create an array with edges
  var edges = new vis.DataSet([
    {{ laste2|index:i }}
  ]);



  // create a network
  var container = document.getElementById('mynetwork{{i}}');
  var data = {
    nodes: nodes,
    edges: edges
  };
  var options = {};
  var network = new vis.Network(container, data, options);
</script>

{% endfor %}

</body>
</html>


{% endblock %}
