{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} PUBLICATIONS {% endblock %}
{% block content %}  
  <div class="row content text-center">
	<div class="container">
      <u><h1>Publications</h1></u>
      <p class="lead text-muted">Scellnetor is a new product, publications are pending.</p>
    </div>    
	
</div>
{% endblock %}
