{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}
{% csrf_token %}
{% block title %} LOADING {% endblock %}
{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<script>
  var data = sessionStorage.getItem('name');
  console.log(data) 
  var dta = {'x':data};

function create_post(dta) {
    $.ajax({
        url : "", // the endpoint
        type : "POST", // http method
        dataType: "json",
        data : {csrfmiddlewaretoken: '{{ csrf_token }}',
                create_token: 'create_token',
                stuff : dta,},
    });
};
//create_post(dta);


function goterm(gt) {
    var got = {'x':"hej"};
    $.ajax({
        url : "", // the endpoint
        type : "POST", // http method
        dataType: "json",
        data : {csrfmiddlewaretoken: '{{ csrf_token }}',
                create_token: 'create_token',
                gterm : got,},
    });
};



function go_to_after() {
  var txt;
  if (confirm("If you go back, you delete your current results and pre-processed data for the clustering algorithm")) {
    window.location.href = '{% url 'after_simple_upload' %}';
  } else {
    txt = "";
  }
}


function go_to_par() {
  var txt;
  if (confirm("If you go back, you delete your current results")) {
    window.location.href = '{% url 'chac_params' %}';
  } else {
    txt = "";
  }
}
//function redirect(){
//       window.location.href = '{% url 'results' %}';
//    }

//setTimeout(redirect, 150);

//     <p>File uploaded at: <a href="{{ tedst }}">{{ tedst }}</a></p> --> this one made the pic go larger
// <p><h3><a href="{{ tedst }}" download> Download all files here </a></h3></p>

$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();   
});

function go(val) {

        var myWindow = window.open("{% url 'networkplot'%}"+ "?search="+val,"MsgWindow", "width=1300,height=1000");

}






$(document).ready(function(){
    $('.wrapper div').dblclick(function() {
        $(this).toggleClass('active');
        $(this).toggleClass('active2');
        $(this).siblings().not(this).toggleClass('hide');
    });
});
</script>


<style>
html {
	-webkit-font-smoothing: antialiased!important;
	-moz-osx-font-smoothing: grayscale!important;
	-ms-font-smoothing: antialiased!important;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size:16px;
  color:#555555;
}
.md-stepper-horizontal {
	display:table;
	width:100%;
	margin:0 auto;
	background-color:#FFFFFF;
	box-shadow: 0 3px 8px -6px rgba(0,0,0,.50);
}
.md-stepper-horizontal .md-step {
	display:table-cell;
	position:relative;
	padding:24px;
}
.md-stepper-horizontal .md-step:hover,
.md-stepper-horizontal .md-step:active {
	background-color:rgba(0,0,0,0.04);
}
.md-stepper-horizontal .md-step:active {
	border-radius: 15% / 75%;
}
.md-stepper-horizontal .md-step:first-child:active {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.md-stepper-horizontal .md-step:last-child:active {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.md-stepper-horizontal .md-step:hover .md-step-circle {
	background-color:#757575;
}
.md-stepper-horizontal .md-step:first-child .md-step-bar-left,
.md-stepper-horizontal .md-step:last-child .md-step-bar-right {
	display:none;
}
.md-stepper-horizontal .md-step .md-step-circle {
	width:30px;
	height:30px;
	margin:0 auto;
	background-color:#999999;
	border-radius: 50%;
	text-align: center;
	line-height:30px;
	font-size: 16px;
	font-weight: 600;
	color:#FFFFFF;
}
.md-stepper-horizontal.green .md-step.active .md-step-circle {
	background-color:#00AE4D;
}
.md-stepper-horizontal.orange .md-step.active .md-step-circle {
	background-color:#F96302;
}
.md-stepper-horizontal .md-step.active .md-step-circle {
	background-color: rgb(33,150,243);
}
.md-stepper-horizontal .md-step.done .md-step-circle:before {
	font-family:'FontAwesome';
	font-weight:100;
	content: "\f00c";
}
.md-stepper-horizontal .md-step.done .md-step-circle *,
.md-stepper-horizontal .md-step.editable .md-step-circle * {
	display:none;
}
.md-stepper-horizontal .md-step.editable .md-step-circle {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}
.md-stepper-horizontal .md-step.editable .md-step-circle:before {
	font-family:'FontAwesome';
	font-weight:100;
	content: "\f040";
}
.md-stepper-horizontal .md-step .md-step-title {
	margin-top:16px;
	font-size:16px;
	font-weight:600;
}
.md-stepper-horizontal .md-step .md-step-title,
.md-stepper-horizontal .md-step .md-step-optional {
	text-align: center;
	color:rgba(0,0,0,.26);
}
.md-stepper-horizontal .md-step.active .md-step-title {
	font-weight: 600;
	color:rgba(0,0,0,.87);
}
.md-stepper-horizontal .md-step.active.done .md-step-title,
.md-stepper-horizontal .md-step.active.editable .md-step-title {
	font-weight:600;
}
.md-stepper-horizontal .md-step .md-step-optional {
	font-size:12px;
}
.md-stepper-horizontal .md-step.active .md-step-optional {
	color:rgba(0,0,0,.54);
}
.md-stepper-horizontal .md-step .md-step-bar-left,
.md-stepper-horizontal .md-step .md-step-bar-right {
	position:absolute;
	top:36px;
	height:1px;
	border-top:1px solid #DDDDDD;
}
.md-stepper-horizontal .md-step .md-step-bar-right {
	right:0;
	left:50%;
	margin-left:20px;
}
.md-stepper-horizontal .md-step .md-step-bar-left {
	left:0;
	right:50%;
	margin-right:20px;
}

</style>


<div class="md-stepper-horizontal orange">
    <div class="md-step active">
      <div class="md-step-circle"><span>1</span></div>
      <div class="md-step-title">Upload Data</div>
      <div class="md-step-bar-left"></div>
      <div class="md-step-bar-right"></div>
    </div>
    <div class="md-step active">
      <div class="md-step-circle"><span>2</span></div>
      <div class="md-step-title">Select Plot</div>
      <div class="md-step-bar-left"></div>
      <div class="md-step-bar-right"></div>
    </div>
    <div class="md-step active">
      <div class="md-step-circle"><span>3</span></div>
      <div class="md-step-title">Select Trajectories</div>
      <div class="md-step-bar-left"></div>
      <div class="md-step-bar-right"></div>
    </div>
    <div class="md-step active">
      <div class="md-step-circle"><span>4</span></div>
      <div class="md-step-title">Select Parameter</div>
      <div class="md-step-bar-left"></div>
      <div class="md-step-bar-right"></div>
    </div>
	<div class="md-step active">
      <div class="md-step-circle"><span>5</span></div>
      <div class="md-step-title">Results</div>
      <div class="md-step-bar-left"></div>
      <div class="md-step-bar-right"></div>
    </div>
  </div>




<style>
	* {
	  box-sizing: border-box;
	}

	.thump {
		width: 100%;
		cursor:pointer;
	}

	.modal-dialog{
		position: relative;
		display: table;
		overflow-y: auto;
		overflow-x: auto;
		width: auto;
		min-width: 300px;
	}

.wrapper{
    width: 700px;
    height: 700px;
}
.black{
    width: 850px;
    height: 850px;
    background: white;
}
.active2{
    height: 100%;
    width: 100%;
}

.hide{
    display: none;
}
</style>
<script type="text/javascript" src="https://visjs.github.io/vis-network/standalone/umd/vis-network.min.js"></script>

<div class="row content">
  <div class="col text-left">
    <h1>Results</h1>
    <h4>Click on an image to view a larger version.</h4>
    Left Column:   Normalized moving-average-modified gene expression patterns against moving-average-modifed number of single cells.</br>
    Middle Column: Clusters/connected components of genes. Size and q-values can be found above images. Move your cursor to the q-values to get info.</br>
    Right column:  The first 15 statistically significant GO-terms of the clusters. Their p-values have been adjusted using the Benjamini-Hochberg Procedure.
  </div>
</div>

<div class="row">
  <div class="col">
	<hr/>
  </div>
</div>


{% csrf_token %}
<div class="row">
	<div class="col">
		<a href="{{ tedst }}" download><button class="btn btn-primary">Download files</button></a>
	</div>

	<div class="col">
		<button class="btn btn-secondary" onclick="go_to_par()">Start new clustering</button>
	</div>

	<div class="col">
		<button class="btn btn-secondary" onclick="go_to_after()">Select new template</button>
	</div>
</div>


<div class="row">
  <div class="col">
	<hr/>
  </div>
</div>

{% for i in cf|length|get_range %}

<div class="row">
	<div class="col">
		<b>Gene expression vs. single cells {{i}}:</b>
		<p data-toggle="tooltip" title="The q-value of the average of the expression patterns. The q-value is based on a Wilcoxon signed-rank test. To obtain the q-value, the p-value was corrected using the Benjamini-Hochberg Procedure.">{{ qvl|index:i }}</p>
		{{ cf|index:i }}
	</div>
	<div class="col">
		<b>Subgraph {{i}}:</b><button class="btn btn-warning" onclick="go({{i}})">View interactive graph</button>

		<p><b data-toggle="tooltip" title="The size of the cluster and the q-value. The q-value is based on an p-value from a Mann–Whitney U test on the edge-values of the cluster vs. all possible edge-values in the hyper-similarity matrix. To obtain the q-value, the p-value was corrected using the Benjamini-Hochberg Procedure.">{{ sizes|index:i }}</b></p>
		{{ gs|index:i }}


	</div>
	<div class="col">
		<b>15 most statistically significant GO-terms {{i}}:</b>
		{{ gotrs|index:i }}
	</div>
	<!--<div id="mynetwork{{i}}">
	</div>-->

</div>

<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="padding: 25px" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
      	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <img src="" class="imagepreview" style="width: 100%;" >
      </div>
    </div>
  </div>
</div>

<script>


$(function() {
		$('.pop').on('click', function() {
			$('.modal-dialog').css("background-color", "");
			$('.imagepreview').attr('src', $(this).attr('src'));
			$('#imagemodal').modal('show');

		});
	        //$('.networkplot .pop').on('click', function() {
		//	window.location.href = '{% url 'networkplot' %}';
		//});
});
</script>

<script type="text/javascript">
  // create an array with nodes
//  var nodes = new vis.DataSet([
//    {{ lastn1|index:i|safe }}
//  ]);

  // create an array with edges
//  var edges = new vis.DataSet([
//    {{ laste2|index:i }}
//  ]);



  // create a network
//  var container = document.getElementById('mynetwork{{i}}');
//  var data = {
//    nodes: nodes,
//    edges: edges
//  };
//  var options = {};
//  var network = new vis.Network(container, data, options);
</script>

{% endfor %}
{% endblock %}
