<html>
<head>
{% load static %}
{% load staticfiles %}
{% csrf_token %}
{% block title %}<title>Scellnetor</title>{% endblock %}

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script>



function redirect(){
       window.location.href = '{% url 'results' %}';
    }

setTimeout(redirect, 150);
</script>
</head>
<body>
</body>
</html>
