<html>
{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}
{% csrf_token %}
{% block title %}<title>SCELLNETOR</title>{% endblock %}
{% block content %}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<head>
<script>
 
//  sessionStorage.setItem("name","{{ hej }}");
//   var data = sessionStorage.getItem('name');
//   console.log(data) 


//   var data = sessionStorage.getItem('name');
//   console.log(data) 
//   var dta = {'x':data};

// function create_post(dta) {
//     $.ajax({
//         url : "", // the endpoint
//         type : "POST", // http method
//         dataType: "json",
//         data : {csrfmiddlewaretoken: '{{ csrf_token }}',
//                 create_token: 'create_token',
//                 stuff : dta,},
//     });
// };

// create_post(dta);

function redirect(){
       window.location.href = '{% url 'after_simple_upload' %}';
    };
setTimeout(redirect, 300);

</script>
</head>

<body>
</body>

{% endblock %}
</html>
