<html lang="en">
	<head>
	  {% load static %}
	  <title>SCELLNETOR - {% block subtitle %} HOME {% endblock %}</title>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	  <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>-->
	  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	  
	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	  <style type="text/css">
		body {
			background-color: #F5F5F5;
		}
	  </style>
  </head>
  <body>
	<nav class="navbar navbar-dark bg-dark navbar-expand flex-column flex-md-row bd-navbar" style="margin-bottom: 0px;">
	<a class="navbar-brand" href="#">
		<!--<img src="/docs/4.3/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">-->
		<img src="/static/logo.png" width="70" height="70" class="d-inline-block align-top" alt="">
	
	</a>
	<div class="container-fluid">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
	</button>
	<ul class="navbar-nav mr-auto">
		<li class="nav-item active">
			<a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{% url 'documentation' %}">Documentation</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{% url 'publications' %}">Publications</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{% url 'contact' %}">Contact</a>
		</li>
	</ul>
	</div>
	</nav>
	<main role="main" style="background-color: #F5F5F5;">
	<div class="container" style="background-color: #FFFFFF; padding-bottom: 30px; padding-top: 30px">
    {% block content %}
    {% endblock %}
	</div>
	</main>
  </body>
</html>
